#maindiv
{
  height: 10em;
  position: relative;
}
#mainp
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
html
{
  font-size: 15;
  background-color: #89c9f9;
}
