* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    --primary-color : #21f9ff;
     --background-color: #232823;
    background:var(--background-color);
}
.search-box {
    overflow: hidden;
    width: 250px;
    height: 40px;
    position: relative;
}
button {
    position: absolute;
    right : 0;
    z-index: 100;;
    transition: 1s;;
    border: none;
    background:var(--background-color);
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    font-size: unset;
}
button::before{
    height: 40px;
    width: 2px;
    content: ' ';
    background: var(--primary-color);
    position: absolute;
    left:0;
    top:0;
    transition: 1s;
}
.search-box.active button::before{
    transition: .25s;
    left: -210px;
    animation: hidden 1s ease-in;
    -webkit-animation-fill-mode: forwards;
}
@keyframes hidden{
    100%{
        opacity: 100;
    }
}

input:focus, button:focus{
    outline: none;
}


.search-box.active{
    animation: shape 1s ease-in ;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes shape {
    100%{

    }
}

button svg {
    animation: show .4 ease-in-out;
}

@keyframes show{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 100%;
    }
}

input{
    transition: 1s;
    width : 210px;
    height: 40px;
    transform: translateX(20em);
    padding-left: 20px;
    border : none;
    color : var(--background-color)
}

.search-box input {
    transition: 1.2;
    transition-delay: .3s;
    transform: translateX(0);
    font-family: 'Lobster', monospace ;
    caret-color: var(--background-color);
}